body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 20px;
    width: 100%;
}



nav ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
   
   
}

nav li {
    margin-right: 20px;
  
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

#home {
margin-top: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    color: #fff;
}

#explore{
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #333;
}
#about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#about li {
    margin-bottom: 10px;
}


.CV{margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    width: 210mm;
    height: 230mm;
    color: white;
    }
  
 #left{
    background: rgb(75, 75, 75);
    width: 87.5mm;
    height: 230mm;
    float: left;
    padding-left: 9px;
    }
    #right{
        position: top;
        background: rgb(169, 174, 177);  
        width: 120mm;
        height: 50mm;
        float:right;
        margin-top: 60px;
    }
    .h1{
        color: rgb(75, 75, 75);
        margin-top: 50px;
        margin-left: 35px;
       
    }
    .h4{
        color: rgb(75, 75, 75);
        margin-left: 20px;
    }
    #mid{
        background: white; 
        width: 120mm;
        height: 164mm;
        float:inline-end
        
    }
    #H3{
        color:rgb(75, 75, 75);
        margin-left: 50px;
        margin-top: 50px;
    }
    #midhr{
        color: beige;
        width: 400px;
        margin-left:30px;
    }
.heiding_left{
        margin-left: 50px;
        color: rgb(44, 44, 44);
        float:left ;
        width: 60mm;
    }
    .heiding_right{
        margin-left: 50px;
        color: rgb(44, 44, 44);
        float:right;
        margin-right: 50px;
    }
    p{
        font-size: small;
    }

form{

    width: 100%;
    height: 100%;
    gap: 1px;
} 

.H3{
    margin-left: 50px;
}

hr{
    width: 130px; 
}

.unorder{

 list-style-type: none;   
 font-size: small;
 margin-left: 10px;

}
.ul{
 font-size: small;
 margin-left: 30px;

}

img{
    padding: 50px;
    border-radius: 170px;
}
